.video {
    padding-bottom: 56.25%;
    padding-top: 35px;
    overflow: hidden;
    position: relative;
    width: 70%;
    
}
.video iframe {
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
    position: absolute;
}
.resources {
    width: 80%;
}